# Revisión Dataset

Revision Dataset
-	Revisamos duplicados
Tenemos casi 5 mil  duplicados

-	Por columna AGE
Tenemos 13 nulos

-	Por columna JOB
No encontramos nulos ni valores en blanco

-	Por columna marital
Tenemos 9 nulos
 
 
-	Por columna education
Tenemos 7 nulos
 

-	Por columna default
No hemos encontrado Nulos ni valores en Blanco

-	Por columna balance
1113 rows con valor 0. Seguramente ignoraremos esta parte.
 
 
-	Por columna housing
Tenemos 20 nulos
 
-	Por columna loan:
No encontramos ningún nulo ni valor en blanco

-	Por columna contact:
No tenemos valores nulos ni valores en blanco

-	Por columna day
No tenemos valores nulos ni valores en blanco

-	Por columna month
No tenemos valores nulos ni valores en blanco

-	Por columna campaign
No tenemos valores nulos ni valores en blanco

-	Por columna pdays
No tenemos valores nulos ni valores en blanco

-	Por columna previous
12mil rows con valor 0
 

-	Por columna poutcome
No hay valores blancos ni nulos

-	Por columna deposit
No hay valores blancos ni nulos

## Procedemos a borrar duplicados

## Comprobación antes de borrar duplicados

WITH RankedDuplicates AS (
    SELECT id, age, job, marital, education, `default`, balance, housing, loan, contact, `day`, `month`, duration, campaign, pdays, previous, poutcome, deposit,
        ROW_NUMBER() OVER (PARTITION BY age, job, marital, education, `default`, balance, housing, loan, contact, `day`, `month`, duration, campaign, pdays, previous, poutcome, deposit ORDER BY id) AS row_num
    FROM BANK_marketing131024
)
SELECT *
FROM RankedDuplicates
WHERE row_num > 1;

## Procedemos a borrar las filas duplicadas

WITH RankedDuplicates AS (
    SELECT id,
           ROW_NUMBER() OVER (PARTITION BY age, job, marital, education, `default`, balance, housing, loan, contact, `day`, `month`, duration, campaign, pdays, previous, poutcome, deposit ORDER BY id) AS row_num
    FROM BANK_marketing131024
)
DELETE FROM BANK_marketing131024
WHERE id IN (
    SELECT id
    FROM RankedDuplicates
    WHERE row_num > 1
);

# Procedemos a revisar nulos

## Columna Age
Hemos procedido a coger la mediana de edad segun el job y el marital

## Columna Marital
A partir del trabajo hemos procedido a coger la moda y insertarsela a los que tienen nulo

## Columna Education

## Columna Housing
Actualizada segun la moda de age, education, marital y job

# reemplazo de columnas a booleanos

- Columnas afectadas: `default`, housing, loan, deposit