# SPRINT 4
Analistes de Màrqueting i Comunicació: Quin impacte té el mes de l'any a l'eficàcia de les nostres
campanyes de màrqueting, i com podem adaptar les nostres estratègies de màrqueting per
aprofitar els períodes més efectius de l'any?

In [2]:
from sqlalchemy import create_engine, inspect
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date, time, datetime
import pymysql

#Datos de conexión
usuario='EquipoB'
contraseña="E1q2u3i4p5oB"
host='212.227.90.6'
puerto=3306
nombre_base_datos='EquipB'

#URL de la conexión
url_conexion=f"mysql+pymysql://{usuario}:{contraseña}@{host}:{puerto}/{nombre_base_datos}"

#Crear l'engine de SQLAlchemy
try:
    engine=create_engine(url_conexion)
    cnx=engine.connect()
    print("Conexión correcta")
except Exception as e:
    print(f"Error al conectar con SQLAlchemy: {e}")
    
#Obtener el nombre de les tablas
inspector=inspect(engine)
nombre_tablas=inspector.get_table_names()

# Diccionario para almacenar los DataFrames
df= {}

for tabla in nombre_tablas:
    query=f"SELECT * FROM {tabla}"
    
    try:
        df[tabla] = pd.read_sql(query, cnx)
        print(f"Tabla '{tabla}' cargada correctamente.")
    except Exception as e:
        print(f"Error al cargar la tabla '{tabla}':{e}")
  
# Cerrar la conexión
# cnx.close()

Conexión correcta
Tabla 'BANK_marketing' cargada correctamente.
Tabla 'BANK_marketing131024' cargada correctamente.
Tabla 'BANK_marketing211024' cargada correctamente.
Tabla 'BANK_marketing_backup_211024' cargada correctamente.

In [4]:
plt.style.use("seaborn-v0_8-deep")

In [5]:
df_bank = df['BANK_marketing211024']

df_marketing = df_bank[['id','contact','day','month','duration','campaign','pdays','previous','poutcome','deposit']]

In [65]:
#df_finanzas.to_csv('C:\\Users\\ueret\\OneDrive\\Escritorio\\SIMULADOR\\s3.csv', index=False)

## EDA: ANÁLISIS EXPLORATÓRIO

Comprobamos los primeros registros del dataframe y la información clave de los campos.

In [6]:
df_marketing.head()

,id,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,1,unknown,5,may,1042,1,-1,0,unknown,1
1,2,unknown,5,may,1042,1,-1,0,unknown,1
2,3,unknown,5,may,1467,1,-1,0,unknown,1
3,4,unknown,5,may,1389,1,-1,0,unknown,1
4,5,unknown,5,may,579,1,-1,0,unknown,1

In [7]:
df_marketing.describe()

,id,day,duration,campaign,pdays,previous,deposit
count,26163.000000,26163.000000,26163.000000,26163.000000,26163.000000,26163.000000,26163.00000
mean,13166.088216,15.649199,371.112487,2.507855,51.602798,0.830333,0.47357
std,7642.948371,8.418703,342.416710,2.749020,109.239182,2.274337,0.49931
min,1.000000,1.000000,2.000000,1.000000,-1.000000,0.000000,0.00000
25%,6541.500000,8.000000,139.000000,1.000000,-1.000000,0.000000,0.00000
50%,13082.000000,15.000000,255.000000,2.000000,-1.000000,0.000000,0.00000
75%,19842.500000,22.000000,496.000000,3.000000,13.000000,1.000000,1.00000
max,26383.000000,31.000000,3881.000000,63.000000,854.000000,58.000000,1.00000

In [68]:
df_finanzas.isnull().sum()

id           0
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
deposit      0
dtype: int64

In [69]:
df_finanzas.isnull().sum()

id           0
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
deposit      0
dtype: int64